$light-color-font: #595959;
$light-background-font: #efefef;

$dark-color-font: #efefef;
$dark-background-font: #595959;


*{
    padding: 0;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: $light-color-font;
    background-color: $light-background-font;
    line-height: 30px;
}

main{
    width: 80%;
    margin: auto;
}

p, h1{
    padding-bottom: 15px;
}